doctype html 
html
	head
		title| contact
		link(href="/css/reset.css", rel="stylesheet")/
		link(href="/css/_normalize.css", rel="stylesheet")/
		link(href="/css/index.css", rel="stylesheet")/
		script(src='js/script.js')
		link(href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet")/
	body
		nav
			ul
				li: a(href="/work").first| Work
				li: a(href="/contact").sec| Contact
		div
			a#sign.play
		div.logo
			img(src="css/assets/logotrue1.png")